.App {
  text-align: center;
  background-color: #15202b;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textarea {
  width: 600px;
  height: 180px;
  border: 2px solid #cccccc;
  border-radius: 6px;

  margin-top: 47px;
}
.button {
  position: absolute;
  bottom: 26px;
  left: 503px;
}
.label {
  position: relative;
}
.barnav {
  text-decoration: none;
  width: 1076px;
  height: 58px;
  background-color: #343a40;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-left: 12.7vw;
}

.nav-item {
  text-decoration: none;
  margin-left: 30px;
}
.tweetList {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tweet {
  width: 700px;
  height: 150px;
  color: #ffffff;
  border-radius: 6px;
  margin-top: 15px;
  background-color: #343a40;
  padding: 20px;
}
.inputUser {
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
  width: 600px;
  height: 61px;
}
.navContainer {
  display: flex;
  align-items: center;
}
.headerProfile {
  color: #ffffff;
}
.profile {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: white;
}
.profileContainer {
  height: 700px;
}
textarea {
  background-color: #15202b;
  color: #fff;
}
.userAndDate {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  color: #6c757d;
}
.content {
  word-wrap: break-word;
  text-align: left;
}
a {
  color: rgba(255, 255, 255, 0.5);
}
#image{
  color: #fff;
}
